# =========================================
# PYTHON
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# VENV
# =========================================

venv/

# =========================================
# DATABASES
# =========================================

*.db
*.sqlite3

# =========================================
# LOGS
# =========================================

logs/*.log

# =========================================
# RAG
# =========================================

rag/db/
rag/processing/
rag/processed/
rag/rejected/

# =========================================
# HF CACHE
# =========================================

.cache/
cache/

# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# TEMP
# =========================================

*.tmp
*.temp

# =========================================
# IDE
# =========================================

.vscode/
.idea/
